numpy 
pandas
ipykernel
transformers
matplotlib
seaborn
nltk
regex
scikit-learn
from-root
awscli
boto3
mypy-boto3-s3
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
torch  --extra-index-url https://download.pytorch.org/whl/cpu

-e .

# pip install torch  --extra-index-url https://download.pytorch.org/whl/cpu